@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=Roboto+Flex:opsz@8..144&family=Rubik&family=Space+Grotesk:wght@300..700&display=swap');



*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}
a{
    list-style: none;
    text-decoration: none;
    color: #6C7275;
    transition: .5s;
  
font-family: Space Grotesk;
font-size: 1.7em;
font-weight: 500;
line-height: 24px;
text-align: left;

}
a:hover{
    color: black;
}
body{
    font-size: 10px;
    max-width: 1440px;

}
h1{
    font-size: 3em;
}
h2{
    font-size: 2.5em;
}
p{
    font-size: 1.6em;
}
hr{
    color: #6C7275;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    display: flex;
    justify-content: space-between;
    padding:16px 80px ;
    align-items: center;
}
.logo h1{
    font-size: 3em;
}
ul{

    display: flex;
    align-items: center;
    gap: 40px;
}
.right {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

}

.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 80px;
    
    
}
.card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family: Poppins
    ;
}

.shops{
    display: flex;
    align-items: center;
    width: 832px;
    justify-content: space-around;
height: 68px;
gap: 32px;
opacity: 0px;
padding-top: 40px;
font-family: Inter;

}
.shop1{
height:50px;
display: flex;
padding: 0px 0px 26px 0px;
gap: 24px;
display: flex;
align-items: center;
justify-content: center;
opacity: 0px;
transition: .1s;
border-bottom: 2px transparent solid;
}

.shop1:hover{
        border-bottom: 2px black solid;

}

.circle{
    width: 42px;
    height: 42px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: black;
}

.shop{
    height:50px;
    display: flex;
    padding: 0px 0px 26px 0px;
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0px;
    transition: .1s;
    color: #6C7275;
    border-bottom: 2px transparent solid;

    }
    
    .shop:hover {
            border-bottom: 2px black solid;
    
    }
    .shop:hover>circle{
        background-color: black;
    }
    
    .circle{
        width: 42px;
        height: 42px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #6C7275;
    }

    .chap{
        width: 643px;
        display: flex;
        flex-direction: column;
        flex: 1 0 140px;
        
    }

    .product{
        width: 1120px;
    padding: 80px 0px 80px 0px;
    gap: 64px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    

    }
    .product_2{
        display: flex;
        width: 643px;
        font-size: 0.7em;
        justify-content: space-between;

    }
    .quantity{   
        font-family: Inter ,sans-serif;
        padding-bottom: 10px;     
        display: flex;
    }
    .quantity h1{
        padding-left: 74.5px;
    }
    .line{
        
        width: 100%;
        border: 0.001px #6C7275 solid;
    }
    .table{
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    .table_1{
        display: flex;
        gap: 16px;
    }
    .table-text{
        display: flex;
        flex-direction: column;
        gap:8px;
        font-family: Inter;
    }
    .table-text h2{
        font-size: 1.8em;
    }
    .table-text h3{
        color: #6C7275;
        font-size: 1.8em;
    }
    .remove{
        display: flex;
    }

    .ong{
        align-items: center;
        display: flex;
        gap: 63px;
        
    }

    .romka{
        border: 1px #6C7275 solid;
        border-radius: 8px;
        gap: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .romka h2{
        padding: 8px;
    }

    .sum{
        display: flex;
        padding: 15px;
        align-items: center;
        gap: 13px;
        flex-direction: column;
        width: 413px;
        border-radius: 8px;
        border: 2px #6C7275 solid;
    }
    .sum h1{
        display: flex;
        align-items: flex-start;
        font-family: Poppins
        ;
        
        align-self: start;
        padding-left: 8px;
    }
    .inputs{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 12px;
    }
    .katta{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px;
        width: 365px;
        border-radius: 4px;
        border: 2px #6C7275 solid;
    }
    .katta p{
      
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: right;

    }
    .ship{
        display: flex;
        align-items: center;
        gap:12px;
    }
    .ship h2{
        
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;

    }
    #input{
        width: 25px;
        height: 25px;
    }

    .sub{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px;
    }

    .sub h2{
        
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;

    }

    .sum button{
        width: 365px;
        height:52px;
        padding: 10px 26px 10px 26px;
        border-radius: 8px ;
        text-align: center;
        background: black;
        color: white;
        border: none;
        transition: .5s;
        border: 2px white solid;


    }
    button:hover{
        border: 2px black solid;
        background: #fff;
        color: black;
        font-weight: bold;
    }

    .have{
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-self: flex-start;
    }

    .have h1{
font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 28px;
text-align: left;

    }

    .apply{
        display: flex;
        justify-content: space-between;
        border: 2px #6C7275 solid;
        padding: 12px;
        width: 424px;
        border-radius: 8px;
    }
    .ass{
        display: flex;
        align-items: center;
        gap: 13px;
    }

    .ass h2{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #6C7275;
    letter-spacing: -0.4000000059604645px;
    text-align: left;

    }

    .add h2{
       
font-family: Inter;
font-size: 16px;
color: #6C7275;
font-weight: 500;
line-height: 28px;
letter-spacing: -0.4000000059604645px;
text-align: left;

    }

    footer{
        background: #141718
        ;
    }

    .leg{
        height: 249px;
        display: flex;
        align-items: center;
        padding: 160px 0px 180px;
        flex-direction: column;
        padding-left: 80px;
    padding-bottom: 0px;
    padding-top: 80px;
    padding-right: 80px;
    color: white;

    }

    .dec{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 49px;

    }

    .bss{display: flex;
    align-items: center;
gap: 32px;
}
.dec p{

font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: left;

}



    .ver{
        width: 0;
        height:20px;
        border: #6C7275 1px solid;
    }

    .links{
        display: flex;
        gap: 40px;
    }
    .links a{
        color: white;
        border-bottom: transparent 2px solid;
    }
    .links a:hover{
        border-bottom: #fff 2px solid;
    }

    .copy{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
   
    .res{
        display: flex;
        align-items: center;
        gap: 28px;
        padding: 16px;
    }
    .res h1{
        
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 20px;
text-align: left;

    }
    .res a{
        color: white;
        font-weight: 600;
        border-bottom: transparent 2px solid;
    }
    .res a:hover{
        border-bottom: 2px solid white;
    }
